@{
    ViewBag.Title = "Sobre o projeto";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Sobre o projeto</h1>
        <div>
            <p class="lead">Projeto desenvolvido utilizando:</p>
            <li>ASP.NET MVC</li>
            <li>ENTITY FRAMEWORK</li>
            <li>BOOTSTRAP</li>
            <li>CSS</li>
            <li>JQUERY</li>
            <li>HTML</li>

            
        </div>
</main>